*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Ruda', sans-serif;
}

.bottom-border{
    border-bottom: 8px solid;
}

#home{
    background-image: url(../images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.699);
    width: 100%;
    min-height: 700px;
}

.mt-7{
    margin-top: 10em;
}